photo-gallery, .photo-gallery li {
  list-style: none;
  padding: 0;
  text-align: center;
}

.photo-gallery li {
  display: inline-block;
  width: 32%;
}

.photo-gallery li img {
  width: 100%;
}

a, figure {
  display: inline-block;
}